.btn:active:focus,.btn:focus,.btn:active,.btn:visited {outline:none; color: #fff}
/*app*/
.my-wrap{ display: flex; flex-direction: column; height: 100vh;}
@media(min-width:760px){
  .my-wrap{flex-direction: row;}
}

.leftnav-wrap{ width: 260px; background-color: #64DD17;}
.leftnav-wrap h3{ color: #fff; text-align: center; margin: 0; border-bottom: 1px solid #ccc; padding: 20px 0;}
.leftnav-wrap a{ display: block; padding: 10px; color: #fff; font-size: 20px; text-decoration: none;}
.leftnav-wrap a:hover{ background-color: rgba(0, 0, 0, 0.3);}
.leftnav-wrap .leftnav-a{ padding-left: 10px;}
.main{ flex-grow: 1; background-color: #ccc; overflow-y: scroll; display: flex;}
/*nav-header*/
.nav-header{ display: flex; justify-content: space-between; background-color: #64DD17; height: 80px; padding: 0 5px; align-items: center; flex-shrink: 0;}
.nav-header h3{ margin: 0; color: #fff; font-weight: bold;}
.nav-header button{background-color: rgba(0,0,0,0.3); border:none; color: #fff; border-radius: 6px; }
.nav-header button:hover{ color: #fff; }
/*nav-footer*/
.nav-footer{ height: 80px; background-color:#64DD17; flex-shrink: 0; display: flex; justify-content: space-around; align-items: center;}
.nav-footer a{ color: #fff; text-decoration: none; font-size: 18px; text-align: center; border-right:1px solid rgba(0, 0, 0, 0.2);; flex-grow: 1;}
.nav-footer a:last-child{ border: none;}
/*home*/
.home-wrap{ flex-grow: 1; background-image: url(./images/banner.jpg); background-size: cover; background-position: 50% 50%; display: flex;}
.home-cover{background-color: rgba(0,0,0,0.5); flex-grow:1; display: flex; align-items:center; }
.home-item{ text-align: center; margin: 0 auto;}
.home-item h3{ color: #fff; }
.home-item p{ color: #fff;}
.home-item a{ color: #fff; text-decoration: none;}
.about-wrap{ flex-grow: 1; padding: 10px;}
.git-card{ padding: 10px; width: 100%; border: 1px solid #ccc;box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px; background-color: #fff; text-align: center;}
.git-card h2{ margin: 0; color: #64DD17;text-align: left;}
.about-form{ margin: 0 auto; display: inline; width: 80%; max-width: 560px;}
.show-git{ display: flex; box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px; justify-content:space-around; color: #212121; font-size: 18px; padding: 10px 0;}

/*blog*/
.blog-warp{ flex-grow: 1; margin-top: 10px;}
.blog-card{ padding: 10px; max-width: 600px; margin: 0 auto;}
.blog-index{ background-color: #64DD17; font-size: 24px; text-align: center; color: #fff;  height: 60px; padding-top: 10px;}
.blog-index span{ border-radius: 50%; display: inline-block; width: 40px; height: 40px; border: 1px solid #fff; line-height: 40px;}
.blog-content{ background-color: #fff;box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px; padding: 10px;}
.blog-content h3{ margin:10px 0; color: #212121;}
.blog-content button{ border:1px solid #ccc;}
.item-wrap{ flex-grow: 1;}

.post-wrap{}
